body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

/* Header */
header {
    background-color: #b8ae3a;
    padding: 1%;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(136, 136, 136, 0.5);
}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0;
}

.nav-links a {
    font-size:20px;
    padding: 10px 30px;
    color: #000;
    text-decoration: none;
    font-weight: bold;
}

.nav-links a:hover {
    color: #fff;
    text-decoration: underline;
}

#login-btn, #signup-btn, #icon-btn {
    display: flex;
}

#icon-btn {
    display: none;
}

.dropicon {
    background-color: #b8ae3a;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #c5bc55;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropicon {background-color: #c5bc55;}

/* Hamburger bar */
.title {
    font-size: 26px;
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.hamburger {
    display: none;
    font-size: 30px;
    color: #ffffff;
    cursor: pointer;
    position: relative;
    right: 35%;
    z-index: 2;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
  
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
  
.sidenav a:hover {
    color: #f1f1f1;
}
  
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    margin-top: 50px;
}

/* Banner */
.hero {
    text-align: center;
    padding: 120px 25px;
    background-image: url('../Images/hero.jpg');
    background-size: cover;
}

/* Search Bar */
.search-container form {
    float: right;
    flex-direction: row;
}
  
.search-container form input[type=text] {
    padding: 7px;
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 17px;
    border: none;
    width: 150px;
}

.search-container button {
    float: right;
    padding: 5px 10px;
    margin-top: 8px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
    width: 40px;
    height: 34px;
}

.search-container button:hover {
    background: #ccc;
}

/* Product Gallery */
.product-gallery {
    display: grid;
    /* grid-template-columns: repeat(4 ,1fr); */
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 1% 2%;
}

.product-gallery article {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: auto;
    height: 330px;
    object-fit: fill;
}

.product-gallery > article h3 {
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin: 0;
}

.product-gallery article img {
    display: block;
    width: 100%;
    height: auto;
    max-height: 100%;
    object-fit: contain;
    transition: transform 0.3s ease;
}

.product-gallery article:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(164, 164, 164, 0.3);
}

.product-gallery img {
    max-width: 100%;
}

#category article {
    height: 50px;
    color: black;
}   

.container {
    width: 90%;
    display: flex;
    justify-self: center;
}

.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 2%;
}

.contact-container article {
    width: 40%;
}

.contact-container div {
    width: 40%;
}

div.name-fields {
    width: 100%;
}



.Split {
    padding: 0% 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Split a {
    color: red;
}

.categories a
{
    text-decoration: none;
}

/* Contact Form */
form{
    display: flex;
    flex-direction: column;
}

#firstName, #lastName {
    width: 45%;
}
  
.name-fields {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
  
input, textarea {
    padding: 12px;
    border: 1px solid;
    border-color: #c0c0c0;
    background: #fff;
    font-size: 16px;
    margin-bottom: 16px;
    box-sizing: border-box;
}
  
textarea {
    height: 120px;
    resize: none;
}

.submit-btn {
    width: 100%;
    padding: 12px;
    background: #c0c0c0;
    color: #000;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.login-container input {
    width: 50%;
}

/* Product Page */
.promo-product {
    display: flex;
    justify-content: flex-start;
    gap: 50px;
    padding: 50px;
}

.promo-product .product-box {
    width: 100%;
    max-width: 500px;
    height: 100%;
    max-height: 500px;
    margin-left: 50px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    flex-grow: 1;
}

.product-box img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

article.product-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
} 

.product-details h1 {
    font-size: 50px;
    margin: 0;
    width: 100%;
}

.product-details p {
    font-size: 20px;
    width: 100%;
}

.product-details button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    cursor: pointer;
    font-size: 20px;
    height: 50px;
    margin-top: auto;
}

/* Profile Page */
.profile-container {
    display: flex;
    flex-direction: column;
    background-color: rgba(192, 192, 192, 0.526);
    margin: 2%;
    padding: 2%;
    border-radius: 8px;
    width: 80%;
    justify-self: center;
}

.profile h1 {
    font-size: 30px;
    margin-top: 0;
    width: 100%;
}

.profile-form, #update-btn {
    padding: 12px;
    background: #c0c0c0;
    font-size: 16px;
    width: 100px;
    align-self: center;
}

.follow-btn, .unfollow-btn {
    margin-top: 2em;
    height: 3.70em;
    background: #16a085;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.1s;
    cursor: pointer;
}

.unfollow-btn {
    background-color: #dc3545;
}

.overlay
{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.friends-title {
    color: #16a085;
    text-align: center;
}

.user-profile {
    width: 27em; 
    height: 11em;
    background: #fff;
    border-radius: .3em;
}

.user-profile  #fullname {
    margin: auto;
    margin-top: -4.40em;
    margin-left: 5.80em;
    color: #16a085;
    font-size: 1.53em;
    font-weight: bold;
}

.user-profile #username {
    margin: auto;
    display: inline-block;
    margin-left: 10.43em;
    color: #3498db;
    font-size: .87em;
}

.user-profile > .description {
    margin: auto;
    margin-top: 1.35em;
    margin-right: 3em;
    width: 18em;
    color: #7f8c8d;
    font-size: .87em;
}

.user-profile > img#avatar {
    padding: .7em;
    margin-left: .3em;
    margin-top: .3em;
    height: 6.23em;
    width: 6.23em;
    border-radius: 18em;
}

.next-user {
    /* margin: 2em auto; */
    height: 3.70em;
    background: #16a085;
    text-align: center;
    border-radius: 0 0 .3em .3em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.1s;
}

.user-profile button {
    text-align: center;
    font-size: 20px;
    background: none;
    outline: none;
    border: 0;
}

.next-user:hover, .follow-btn:hover, .unfollow-btn:hover {
    background: #1abc9c;
}

/* Feedback */
.feedback-container {
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 100px;
}
  
.admin-panel h1, .user-panel h1 {
    text-align: center;
    margin-bottom: 20px;
}

.feedback-container label {
    display: block;
    margin-bottom: 5px;
}
  
.feedback-container input[type="text"],
.feedback-container input[type="email"],
.feedback-container textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.feedback-container textarea {
    height: 100px;
}

.feedback-container button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.feedback-container h2 {
    margin-top: 30px;
}

.feedback-container table {
    width: 100%;
    border-collapse: collapse;
}

.feedback-container th, .feedback-container td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.feedback-container th {
    background-color: #f2f2f2;
    color: black;
}

.actions {
    display: flex;
    justify-content: space-between;
}

.feedback-container > .update-btn {
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.feedback-container > .update-btn {
    background-color: #2196F3;
    color: white;
}

.feedback-container #delete-msg {
    margin-bottom: 20px;
}

/* category page */
.header
{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 36px;
}

.items
{
    display: block;
    text-align: center;
}

.category-section h2{ 
    padding-top: 2%;
    padding-left: 2%;
    margin: 0;
    font-size: 25px;
}

.footer {
    background-color: #8b852d;
    color: white;
    padding: 20px 5px;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.footer-left {
    margin: 10px;
    font-weight: bold;
    font-size: 50px;
}

.footer-center, .footer-right {
    margin: 10px;
}

.footer ul {
    list-style-type: none;
    padding: 0;
}

.footer ul li {
    display: inline;
    margin: 0 10px;
}

.footer a {
    color: white;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}


/* Media Queries */
@media screen and (max-width: 850px) {
    .nav-links {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .title {
        display: block;
    }

    .dropicon {
        padding: 10px;
    }

    .dropdown {
        left: 35%;
    }

    .dropdown-content {
        right: 0;
    }

    .footer-content {
        flex-direction: column;
        text-align: center;
    }

    .search-container form {
        float: none;
        padding-left: 30px;
    }
}

/* Mobile view */
@media screen and (max-width: 476px) {
    /* Contact Pages */
    /* Container */
    .contact-container {
        flex-direction: column;
        padding: 10px;
    }

    .contact-container article {
        width: 90%;
    }

    /* Margin for the icons */
    .Icon-and-Details{
        margin: 5% 0;
    }
    
    .name-fields {
        flex-direction: column;
        width: 100%;
    }

    #firstName, #lastName {
        width: 100%;
    }
}